---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
    // First, prioritize pinned posts
    if (a.data.pinned && !b.data.pinned) return -1;
    if (!a.data.pinned && b.data.pinned) return 1;

    // Then sort by pubDate (newest first)
    return (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0);
});
---

<BaseLayout>
    <section class="px-4 py-8 max-w-[80ch] mx-auto">
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {
                posts.map((post, index) => (
                    <PostCard
                        post={post}
                        class={`${index === 0 ? "md:col-span-2" : ""}`}
                    />
                ))
            }
        </ul>
    </section>
</BaseLayout>
