<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/index.html">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/index.html">Posts</a>
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="/about/">About</a>
    </nav>
    <footer>
      <section class="contact">
        <ul class="social-media">
          <li>
            <a href="https://github.com/gruizmudarra" title="GitHub" target="_blank" rel="noreferrer">
              <img class="social-icon" src="/public/icons/github.svg" alt="GitHub">
            </a>
          </li>
          <li>
            <a href="mailto:germanruizmudarra@gmail.com" title="Mail" target="_blank" rel="noreferrer">
              <img class="social-icon" src="/public/icons/gmail.svg" alt="Gmail">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/gruizmudarra/" title="LinkedIn" target="_blank" rel="noreferrer">
              <img class="social-icon" src="/public/icons/linkedin.svg" alt="LinkedIn">
            </a>
          </li>
        </ul>
      </section> <!-- End Section Contact -->
    </footer> <!-- End Footer -->
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
