---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutHeroImage from "../assets/about_me.webp";
---

<BaseLayout>
	<section class="px-4 py-8 max-w-[80ch] mx-auto">
		<div class="w-full mb-8">
			<img src={AboutHeroImage.src} alt="About me" />
		</div>
		<div class="max-w-[65ch] mx-auto leading-relaxed">
			<p>
				<strong>Ingeniero en Mecatrónica</strong> especializado en <em
					class="italic">robótica</em
				>, <em class="italic">visión por computador</em> e <em
					class="italic">IoT industrial</em
				>. Experiencia en el diseño de <strong
					>sistemas completos</strong
				> - desde electrónica personalizada hasta conectividad en la nube
				- con dominio de <code>C</code> y <code>Rust</code> para sistemas
				embebidos, y <code>Python</code> para análisis de datos y prototipado
				rápido.
				<strong
					>Apasionado por conectar la investigación de vanguardia con
					soluciones de ingeniería prácticas</strong
				>, creando sistemas fiables que generan un <em class="italic"
					>impacto medible</em
				> y que mejoren la vida de las personas, mientras exploro continuamente
				tecnologías emergentes en <strong>robótica</strong>, <strong
					>IoT</strong
				> y
				<strong>aprendizaje automático</strong>.
			</p>
		</div>
	</section>
</BaseLayout>
