.projects-title {
  padding-left: 20px;
  text-align: center;
}

.projects-content {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  .project {
  display: flex;
  align-items: stretch;
  margin-bottom: 1.5rem;
  min-height: 11rem;
  overflow: hidden;
    
    .project-thumbnail {
      width: 30%;
      max-width: 100%;
      min-height: 11rem;
      background-size: cover;
      background-position: 50% 50%;
    }
  
    .project-content {
      padding: 1rem;
      width: 70%;
      .project-date,
      .project-words {
        font-size: 12px;
      }
      .project-title {
        margin: 0 0 10px;
        font-size: 30px;
        font-weight: 400;
        a {
          text-decoration: none;
          color: $color-text
        }
      }
      p {
        margin-top: 0;
      }
    }
  }
}


a.older-projects, a.newer-projects {
  font-size: 18px;
  display: inline-block;
  color: $color-text
}
