---
import { SITE_TITLE } from "../consts";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);

function isActive(href: string): boolean {
	return href === pathname || href === "/" + (subpath?.[0] || "");
}
---

<header class="m-0 px-4 bg-black">
	<nav class="flex items-center justify-between">
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<a href="/" class:list={[{ active: isActive("/") }]}>Inicio</a>
			<a href="/blog" class:list={[{ active: isActive("/blog") }]}>Blog</a
			>
		</div>
	</nav>
</header>
<style>
	h2 {
		margin: 0;
		font-size: 1em;
	}
	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--white);
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		color: var(--white);
		display: inline-block;
	}
	nav a.active {
		font-weight: bolder;
		border-bottom-color: var(--accent-secondary);
	}
</style>
