---
import { SITE_TITLE } from "../consts";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);

function isActive(href: string): boolean {
	return href === pathname || href === "/" + (subpath?.[0] || "");
}
---

<header class="m-0 px-4 bg-black">
	<nav class="flex items-center justify-between">
		<h2 class="m-0 text-base">
			<a href="/" class="no-underline text-white">{SITE_TITLE}</a>
		</h2>
		<div class="internal-links">
			<a
				href="/"
				class:list={[
					"inline-block py-4 px-2 border-b-4 border-transparent no-underline text-white",
					{ "font-bold border-b-accent-secondary": isActive("/") },
				]}
			>
				Inicio
			</a>
			<a
				href="/blog"
				class:list={[
					"inline-block py-4 px-2 border-b-4 border-transparent no-underline text-white",
					{ "font-bold border-b-accent-secondary": isActive("/blog") },
				]}
			>
				Blog
			</a>
		</div>
	</nav>
</header>
