---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">Sobre mí</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://fosstodon.org/@gruizmudarra" target="_blank">
				<Icon name="mdi:mastodon" width={32} height={32} />
			</a>
			<a href="https://linkedin.com/in/gruizmudarra" target="_blank">
				<Icon name="mdi:linkedin" width={32} height={32} />
			</a>
			<a href="https://github.com/grmnlabs" target="_blank">
				<Icon name="mdi:github" width={32} height={32} />
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background-color: var(--black);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
		color: var(--white);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
		color: var(--white);
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent-secondary);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
