---
layout: default
---
<div class="post-title">
  <h1 class="main-reveal-text-short">{{page.title}}</h1>
</div>
<article class="post-self">
{% if page.img %}
<div class="main-fade-in-animation">
  <div class="post-cover-image">
    <figure>
      <img class="post-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      {% if page.fig-caption %}
      <figcaption>{{page.fig-caption}}</figcaption>
      {% endif %}
    </figure>
  </div>
</div>
{% else %}
{% endif %}

<div class="main-fade-in-animation-delay-1">
  <header class="header-post">
    <div class="post-tag">
      {% for tag in page.tags %}
      <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
      {% endfor %}
    </div>
    <div class="post-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
  </header>
  <div class="post-content">
    {{content | markdownify}}
  </div>
</div> <!-- End Wrap Content -->
</article>